:root {
  --bs-body-bg: #131516;
  --bs-body-color: #d8d4cf;
  --bs-body-font-family: Trebuchet MS, sans-serif;
  --bs-success: #0f7918;
}

.btn-success {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
}
.btn-outline-success {
  border-color: var(--bs-success);
  color: var(--bs-success);
}

.btn-check:checked + .btn-outline-success {
  color: #fff;
}

.btn {
  transition: none;
}
.btn-outline-success:hover,
.btn-outline-primary:hover,
.btn-outline-secondary:hover,
.btn-outline-danger:hover,
.btn-outline-warning:hover,
.btn-outline-info:hover,
.btn-outline-light:hover,
.btn-outline-dark:hover {
  background-color: inherit;
  border-color: inherit;
}
.btn-outline-success:hover {
  color: var(--bs-success);
}
.btn-outline-primary:hover {
  color: var(--bs-primary);
}
.btn-outline-secondary:hover {
  color: var(--bs-secondary);
}
.btn-outline-danger:hover {
  color: var(--bs-danger);
}
.btn-outline-warning:hover {
  color: var(--bs-warning);
}
.btn-outline-info:hover {
  color: var(--bs-info);
}
.btn-outline-light:hover {
  color: var(--bs-light);
}
.btn-outline-dark:hover {
  color: var(--bs-dark);
}

.list-group-item {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border: 0.5px solid rgba(140, 130, 115, 0.13);
}

.list-group-item:hover {
  filter: brightness(200%);
}

.pointer {
  cursor: pointer;
}
label {
  color: var(--bs-body-bg);
}
.light {
  color: var(--bs-body-color);
}
.monospace {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
